---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Asesoría Jurídica a Distancia",
    description:
      "Recibe asistencia inmediata y confiable para tus inquietudes legales sin salir de casa.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Patrocinio Legal",
    description:
      "Obtén patrocinio de un abogado especializado sin costo adicional según tu plan de cobertura.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Cobertura de Diversas Áreas Legales",
    description:
      "Incluye derecho laboral, derecho de familia, derecho penal, derecho civil y más.",
    icon: "bx:bxs-data",
  },
  {
    title: "Intervenciones Jurídicas",
    description:
      "Hasta seis intervenciones sin costo de representación por periodo contractual.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Beneficios Adicionales",
    description:
      "Descuentos en ópticas, desarrollo tecnológico, plataforma educativa y atención preferencial en servicios.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Protección Familiar",
    description:
      "Puedes asignar una atención legal a un familiar, asegurando la tranquilidad jurídica de tus seres queridos.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-sky-900">
    Todo lo que necesitas para tu protección legal
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Aló Abogados Chile te ofrece una cobertura completa y beneficios adicionales para protegerte a ti y a tu familia.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-sky-900 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-sky-900">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
